    * {
        margin: 0;
        padding: 0;
    }
    main {
        height: 770px;
        width: 640px;
       padding: 10px 0 0 10px;
        margin: 50px auto;
        border: 1px solid #666;
    }
    header {
        margin-bottom: 25px;
    }
    article {
        padding-bottom: 20px;
    }
    h3 {
        padding-bottom: 20px;
    }
    ul {
        overflow: hidden;
    }
    li {
        float: left;
        padding-right: 40px;
        list-style: none;
    }
    span {
        padding-right: 10px;
    }